<% include ./partials/header %>
    <div class="row p-5 jumbotron">
        <div class="col-lg-6 pt-5 ">
            <h1 class="cust-display ">All in one Solution For Providing <span class="text-primary">Great</span> Customer Support </h1>
        </div>
        <div class="col-lg-6 pt-4">
            <img src="https://flock.com/img/customer-support/cs-banner-800f92cc.png" style="width:100%;">
        </div>
    
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-xl-12 mx-auto mb-5 p-5  text-center">
                <div class="display-4">Features</div>
                <div class="row mt-5">
                     <div class=".col-xl-3 col-lg-4">
                        <div class="card shadow-drk" style="height:100%;">
                            <div class="card-header "><img class="pending-call-card-img " style="width:100px;height:100px;filter:hue-rotate(340deg) brightness(1.3);" src="https://www.whiznicsolutions.com/imgs/user-experience-design.png"></div>
                            <div class="card-body mt-5">
                                
                                <h2 class="card-title text-center ">Modern UI </h2>
                                   
                                <div class="card-body text-center pl-0 ">
                                    <p>In this application we have developed a minimized UI with elements like icons, cards and Infographics.</p>
                                </div>
                                
                                
                            </div>
                            <div class="card-footer  bg-primary"></div>
                        </div>
                     </div>
                     <div class=".col-xl-3 col-lg-4">
                        <div class="card shadow-drk" style="height:100%;">
                            <div class="card-header "><img class="pending-call-card-img " style="width:100px;height:100px;" src="https://cdn4.iconfinder.com/data/icons/time-24/24/bellalarmnotificationsecurity_ic_name_of_icon_24px-512.png"></div>
                            <div class="card-body mt-5">
                                
                                <h2 class="card-title text-center ">Notification System </h2>
                                   
                                <div class="card-body text-center pl-0 ">
                                    <p>In this application we have developed notification system through which email and sms notifications are sent to user whenever there is some information.</p>
                                </div>
                                
                                
                            </div>
                            <div class="card-footer  bg-primary"></div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
   
    
</body>
</html>