<% include ../partials/header %>

<div class="container">
    <div class="row mt-5 mb-5">
        
        <div class="col-sm-2 col-md-3"></div>
        <div class="col-sm-8 col-md-6 ">
            <div class="card p-4 shadow-drk" style="background-color:#f1f1f1;border:none">
                <h2>Create New Call</h2>
                <div class="card-body">
                    <form method="post" action="/callcenter/newCall" id="newCallForm">
                        <div class="form-group ">
                            <label> Select Call Type </label>
                            <select name="callType" class="form-control " id="callType">
                                <% CallTypes.forEach(CallType=>{ %>
                                <option value="<%= CallType._id %>"><%= CallType.callType %></option>

                                <% }) %>
                            </select>


                        </div>
                        <div class="form-group">
                            <div class="row text-center">
                                <div class="col-6 border-right border-dark">
                                    <h6>Search Customer</h6>
                                    <a class="btn btn-primary text-white" data-toggle="modal"
                                        data-target="#srchCustomer">Search</a>
                                </div>
                                <div class="col-6">
                                    <h6>Create Customer</h6>
                                    <a class="btn btn-success text-white" data-toggle="modal"
                                        data-target="#createCustomer">Create</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Select Customer Email id</label>
                            <select id="customerEmail" name="customer" class="form-control ">

                            </select>

                        </div>
                        <div class="form-group"><label>Enter Demand </label><textarea name="demand"
                                class="form-control"></textarea> </div>
                        <div class="form-group "><label>Select Type</label>
                            <div class=" row ml-1">
                                <div class="col-5"><input type="radio" name="mode" value="passed" />Passed</div>
                                <div class="col-5"><input type="radio" name="mode" value="closed" />Closed</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 mt-3" id="srchEngineer">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="selectEngi"></div>

                        <button class="btn btn-outline-success ">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-3"></div>


    </div>
</div>


    <div class="modal fade center" id="srchCustomer" tabindex="-1" role="dialog" aria-labelledby="srchCustomerLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="srchCustomerLabel">Search Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-2"><button data-toggle="collapse" data-target="#srchCustomerByEmail"
                            class="btn btn-primary">Search By Email</button></div>
                    <div class="collapse mt-2" id="srchCustomerByEmail">
                        <div class="row">
                            <div class="col-8">
                                <input type="email" name="email" class="form-control" placeholder="Enter email"
                                    id="searchemail" onkeyup="searchCustomer(event)" />
                            </div>
                            <div class="col-4"><button class="btn btn-primary" onClick="srchCByEmail()"><i
                                        class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                    <div class="mb-2 mt-2"><button data-toggle="collapse" data-target="#srchCustomerByMob"
                            class="btn btn-primary">Search By Mobile No.</button></div>
                    <div class="collapse mt-2" id="srchCustomerByMob">
                        <div class="row">
                            <div class="col-8">
                                <input type="text" class="form-control" pattern="[1-9]{1}[0-9]{9}" name="mobNo"
                                    id="searchMobNo" onkeyup="searchCustomer(event)"
                                    placeholder="Enter your mobile no." />
                            </div>
                            <div class="col-4"><button class="btn btn-primary" onClick="srchCByMob()"><i
                                        class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                    <div class="mb-2 mt-2"><button data-toggle="collapse" data-target="#srchCustomerByName"
                            class="btn btn-primary">Search By Name</button></div>
                    <div class="collapse mt-2" id="srchCustomerByName">
                        <div class="row">
                            <div class="col-8">
                                <input type="text" class="form-control" name="name" id="srchName"
                                    onkeyup="searchCustomer(event)" placeholder="Enter your name " />
                            </div>
                            <div class="col-4"><button class="btn btn-primary" onClick="srchCByName()"><i
                                        class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeSrchCustomer"
                        data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade center" id="createCustomer" tabindex="-1" role="dialog" aria-labelledby="srchCustomerLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="srchCustomerLabel">Create Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/customer" onSubmit="newCustomer(event)" id="newCustomerForm">

                        <div class="form-group"><input class="form-control" type="email" name="email"
                                placeholder="Enter Email" /></div>
                        <div class="form-group"><input class="form-control" type="text" name="name"
                                placeholder="Enter your full name" /></div>
                        <div class="form-group"><input class="form-control" type="text" pattern="[1-9]{1}[0-9]{9}"
                                name="mobNo" placeholder="Enter your mobile no." /></div>
                        <div class="form-group">
                            <select name="customerType" class="form-control">
                                <option value="New Customer">New Customer</option>
                                <option value="Old Customer">Old Customer</option>

                            </select>
                        </div>

                        <button class="btn btn-outline-success">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeCreateCustomer"
                        data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade center" id="srchEngineers" tabindex="-1" role="dialog" aria-labelledby="srchCustomerLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="srchCustomerLabel">Search Engineer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="mb-2"><button data-toggle="collapse" data-target="#srchCustomerByEmail"
                            class="btn btn-primary">Search By Email</button></div>
                    <div class="collapse mt-2" id="srchCustomerByEmail">
                        <div class="row">
                            <div class="col-8">
                                <input type='email' name='email' placeholder='Enter email' id='searchEemail' class="form-control" onkeyup='searchEngineer(event)' />
                            </div>
                            <div class="col-4"><button class="btn btn-primary" onClick="srchEByEmail()"><i
                                        class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                    <div class="mb-2 mt-2"><button data-toggle="collapse" data-target="#srchCustomerByMob"
                            class="btn btn-primary">Search By Mobile No.</button></div>
                    <div class="collapse mt-2" id="srchCustomerByMob">
                        <div class="row">
                            <div class="col-8">
                                <input type='text' pattern='[1-9]{1}[0-9]{9}' name='mobNo' id='searchEMobNo'
                            onkeyup='searchEngineer(event)' class="form-control" placeholder='Enter your mobile no.' />
                            </div>
                            <div class="col-4"><button class="btn btn-primary" onClick="srchEByMob()"><i
                                        class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                    <div class="mb-2 mt-2"><button data-toggle="collapse" data-target="#srchCustomerByName"
                            class="btn btn-primary">Search By Name</button></div>
                    <div class="collapse mt-2" id="srchCustomerByName">
                        <div class="row">
                            <div class="col-8">
                                <input type='text' class="form-control" name='name' id="srchEName" onkeyup='searchEngineer(event)'
                            placeholder='Enter your name' /> 
                            </div>
                            <div class="col-4"><button class="btn btn-primary" onClick="srchEByName()"><i
                                        class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeSrchEngineer"
                        data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    

<script>
    function searchCustomer(e) {
        console.log("You Searched Customer!!!", e.target.value);
        var data = {};
        if (e.target.name === "email") {
            data.email = e.target.value;
        } else if (e.target.name === "name") {
            data.name = e.target.value;
        } else if (e.target.name === "mobNo") {
            data.mobNo = e.target.value;
        }


        if ((e.keycode || e.which) === 13) {
            e.target.value = "";
            $.post("/api/customer/search", data)
                .done(d => {
                    addCustomers(d);
                })
                .fail(err => {
                    console.log(err);
                });
        }

    }
    function srchCByEmail() {
        var data = {};
        data.email = $("#searchemail").val();
        $("#searchemail").val("");
        $.post("/api/customer/search", data)
            .done(d => {
                addCustomers(d);
            })
            .fail(err => {
                console.log(err);
            });

    }
    function srchCByMob() {
        var data = {};
        data.mobNo = $("#searchMobNo").val();
        $("#searchMobNo").val("");
        $.post("/api/customer/search", data)
            .done(d => {
                addCustomers(d);
            })
            .fail(err => {
                console.log(err);
            });

    }
    function srchCByName() {
        var data = {}
        data.name = $("#srchName").val();
        $("#srchName").val("");

        $.post("/api/customer/search", data)
            .done(d => {
                addCustomers(d);
            })
            .fail(err => {
                console.log(err);
            });

    }
    function srchEByEmail() {
        var data = {};
        data.email = $("#searchEemail").val();
        $("#searchEemail").val("");
        $.post("/api/searchengineer", data)
            .done(d => {
                addEngineer(d);
            })
            .fail(err => {
                console.log(err);
            });

    }
    function srchEByMob() {
        var data = {};
        data.mobNo = $("#searchEMobNo").val();
        $("#searchEMobNo").val("");
        $.post("/api/searchengineer", data)
            .done(d => {
                addEngineer(d);
            })
            .fail(err => {
                console.log(err);
            });

    }
    function srchEByName() {
        var data = {}
        data.name = $("#srchEName").val();
        $("#srchEName").val("");

        $.post("/api/searchengineer", data)
        .done(d => {
            addEngineer(d);
        })
        .fail(err => {
            console.log(err);
        });

    }
    function searchEngineer(e) {

        var data = {};
        if (e.target.name === "email") {
            data.email = e.target.value;
        } else if (e.target.name === "name") {
            data.name = e.target.value;
        } else if (e.target.name === "mobNo") {
            data.mobNo = e.target.value;
        }


        if ((e.keycode || e.which) === 13) {
            e.target.value = "";
            $.post("/api/searchengineer", data)
                .done(d => {
                    addEngineer(d);
                })
                .fail(err => {
                    console.log(err);
                });
        }

    }

    function addEngineer(data) {

        console.log(data);
        $("#engEmail").html("");
        data.forEach(c => {
            $("#engEmail").append(`<option value='${c._id}'> ${c.username}</option>`);
        });
        $("#closeSrchEngineer").click();

    }
    function addCustomers(data) {

        console.log(data);
        $("#customerEmail").html("");
        data.forEach(c => {
            $("#customerEmail").append(`<option value='${c._id}'> ${c.email}</option>`);
        });
        $("#closeSrchCustomer").click();

    }
    function newCustomer(e) {
        e.preventDefault();

        const newc = {
            name: $("#newCustomerForm div input[name='name']").val(),
            email: $("#newCustomerForm div input[name='email']").val(),
            mobNo: $("#newCustomerForm div input[name='mobNo']").val(),
            customerType: $("#newCustomerForm div select[name='customerType']").val(),
            api: true

        };
        $.post("/customer", newc)
            .done(d => {
                const arr = [];
                arr.push(d);
                $("#closeCreateCustomer").click();
                addCustomers(arr);
            })
            .fail(err => {
                console.log(err);
            });

    }
    function addEngField() {
        $("#selectEngi").prepend("<div id='selectEng'><label>Select Engineer</label> <select id='engEmail' name='engineer' class='form-control' ></select></div>")
        $('#srchEngineer').append("<div id='srchEng'> <h6>Search Engineer </h6><a class='btn btn-primary text-white' data-toggle='modal' data-target='#srchEngineers'>Search</a>  </div>")
        $.get("/api/getEngineers")
        .done(engineers=>{
            const engArr=engineers.map(e=>e.engineer);
            addEngineer(engArr);
        }).fail(err=>{
            console.log(err);
        })
    }
    function removeEngField() {
        $("#selectEng").remove();
        $('#srchEng').remove();
    }
    $(document).ready(function () {
        $("input[name='mode']").change((e) => {
            console.log("change trigger", e.target.value);
            if (e.target.value === "passed") {
                console.log("add trigger");
                addEngField();
            }
            else {
                removeEngField();
            }
        });
    })
</script>
</body>

</html>